
header{
    background: rgba(29, 29, 29,0.7);
    display: block;
    width: 25%;
    height: 100%;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-area{
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    h4{
        font-size: 18px;
        color: aliceblue;
        text-align: center;
    }
   
}
.logo-area img{
    width: 30px;
    margin-right: 8px;
    /* margin: 0px 2px; */
}

.links{
    height: 100%;   
    background-color: gray; 
    display: flex;
    margin-top: 40px;

    .list{
        margin: 0px;
        padding: 0px;
        width: 100%;

        ul{
            list-style: none;
            background: tan;
            margin: 0;
            padding: 0;
            display: block;  

            li{
                display: inline-block;
                width: 100%;
                padding-left: 0px;
                margin-left: 0px; 

                a{
                    text-decoration: none;
                    // background-color: aqua;
                    // width: 100%;
                    position: relative;
                    padding:8px 20px;
                    // box-sizing: border-box;
                    border-radius: 6px;
                    font-size: 16px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: aliceblue;
                }
            }
        }
    }
}


.list li a:hover{
    color: aqua;
    padding: 8px;
    background: rgba(29, 29, 29,);
    transition: 0.8s;
    
}



